@font-face {
  font-family: 'AppFont';
  src: url('../assets/font/NotoSansKR-Light.otf');
}

@font-face {
  font-family: 'KaushanScript';
  src: url('../assets/font/KaushanScript-Regular.ttf');
}

@font-face {
  font-family: 'SpaceMono';
  src: url('../assets/font/SpaceMono-Regular.ttf');
}
